@font-face {
	font-family: 'Engebrechtre';
  src: url('../fonts/engebrechtre-expanded-bold.ttf')
	format('truetype');
}
/* Colors
blue: #0c3f6a
brown: #ab5323
gray: #aba293
yellow: #f5da91
light blue: #b0cee8
*/
body {
	margin: 0;
	padding: 0;
	background-color: #b0cee8;
	background-image: url(../img/kt_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
div {
    opacity: 1;
    transition: 3s opacity;
}
div.fade-out {
    opacity: 0;
    transition: none;
}
#container, #container2 {
	padding: 0;
	clear: left;
	height: 100%;
	padding-bottom: 120px;
}
#container {
	background-color: #f5da91;
}

/* HEADER & NAV */
#logo {
	width: 150px;
	float: left;
	padding-top: 10px;
}
header {
	width: 100%;
	background-color: ;
	padding-bottom: 60px;
}
nav {
	text-shadow: 2px 2px 4px #E3E3E3;
	padding-bottom: 20px;
}
nav ul {
  list-style: none;
	float: right;
	margin-right: 2%;
	padding-top: 45px;
}
nav li {
	display: inline;
	font-family: 'Engebrechtre', sans-serif;
	padding-left: 6px;
}
nav a {
	color: #ab5323;
	text-decoration: none;
	font-size: 1rem;
}
nav a:hover {
	color: #0c3f6a;
}
main {
	margin: 0 5% 0 5%;
	padding: 0;
}
h2 {
	font-family: 'Alex Brush', cursive;
	font-size: 5rem;
	color: #ab5323;
	text-shadow: 2px 2px 4px #E3E3E3;
	padding-top: 20px;
}
h3 {
	font-family: 'Engebrechtre', sans-serif;
	font-size: 1.8rem;
	color: #fff;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	padding-bottom: 50px;
	color: #0c3f6a;
}
p a {
	text-decoration: none;
	color: #ab5323;
}
p a:hover {
	color: #fff;
}
#images img {
	width: 90%;
	margin-left: 5%;
	-webkit-box-shadow: 2px 2px 5px 2px #DEC05A;
		box-shadow: 2px 2px 5px 2px #DEC05A;
	max-width: 500px;
}
.button {
	cursor: pointer;
	margin-bottom: 50px;
	padding: 8px;
	background-color: #b0cee8;
	border-radius: 5px;
	color: #0c3f6a;
	-webkit-box-shadow: 2px 2px 5px 2px #DEC05A;
		box-shadow: 2px 2px 5px 2px #DEC05A;
}
button:hover {
	color: #fff;
	background-color: #0c3f6a;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
/* FOOTER */
footer {
background-color: #aba293;
width: 100%;
text-align: center;
}
footer p {
	margin: 2%;
	color: #fff;
	font-size: 0.8rem;
}
footer li {
	list-style-type: none;
	display: inline;
	padding: 5px;
}
footer a {
	text-decoration: none;
	color: #000;
	font-size: 0.92rem;
}
#specialpg {
	right: 0;
	left: 0;
	bottom: 0;
	margin-bottom: -50px;
	position: fixed;
}
.normalpg {
	position: absolute;
}

/* INTRO page */
#greeting {
	margin-left: 5%;
}
#enter {
	margin-left: 10%;
}
#enter {
	background-color: #fff;
	padding: 10px;
}
/* MENU page */
#menu h3 {
	color: #ab5323;
	font-family: 'Alex Brush', cursive;
	font-size: 3rem;
	margin: 0;
	text-align: center;
}
#menu li {
	font-size: 1rem;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	list-style-type: none;
}
#menu p {
	padding: 0 0 15px 0;
}
.items, #menu p {
	margin-left: 15px;
}
#menu .tabs li {
	font-family: 'Engebrechtre', sans-serif;
}


/* MEDIA QUERIES */
@media (min-width: 400px;) {
	nav a {
		font-size: 1rem;
		padding: 5px;
	}
	nav ul {
		margin-right: 5%;
		padding-top: 45px;
	}
	.items, #menu p {
		margin-left: 25px;
	}
}
@media (min-width: 550px) {
	nav a {
		font-size: 1.2rem;
	}
	#logo {
		width: 200px;
		padding-top: 5px;
		margin-bottom: 1%;
	}
	.items, #menu p {
		margin-left: 50px;
	}
}
@media (min-width: 680px) {
	main {
		margin: 0 15% 0 15%;
	}
	#logo {
		margin-left: 12%;
	}
	nav {
		margin-right: 12%;
	}
	nav li {
		padding-left: 15px;
	}
	p {
		font-size: 1.2rem;
	}
	.items, #menu p {
		margin-left: 50%l;
	}
}
@media (min-width: 790px) {
	#menu h3 {
		margin-top: 12px;
		font-size: 3.5rem;
	}
	#items {
		margin-left: 30%;
	}
}
@media (min-width: 920px) {
	#container, #container2 {
		width: 80%;
		margin-left: 10%;
	}
	#logo {
		margin-left: 8%;
		padding-bottom: 10px;
	}
	nav {
		margin-right: 6%;
	}
	h2 {
		padding-top: 30px;
		font-size: 5.2rem;
	}
	#images img {
		width: 45%;
		margin-left: 0;
	}
	.items {
		margin-left: 22%;
	}
	#menu p {
		margin-left: 10%;
	}
	#menu h3 {
		margin-top: 20px;
		font-size: 3.7rem;
	}
}
@media (min-width: 1024px) {
	main {
		padding: 2% 0 2% 0;
	}
	#logo {
		width: 250px;
		margin-left: 12%;
	}
	nav {
		margin-right: 10%;
	}
	nav a {
		font-size: 1.3rem;
	}
	#container, #container2 {
		width: 70%;
		margin-left: 15%;
	}
	.items {
		margin-left: 28%;
	}
}
