@font-face {
	font-family: 'Engebrechtre';
  src: url('../fonts/engebrechtre-expanded-bold.ttf')
	format('truetype');
}
/* Colors
blue: #0c3f6a
brown: #ab5323
gray: #aba293
yellow: #f5da91
light blue: #b0cee8
*/
body {
	margin: 0;
	padding: 0;
	background-color: #b0cee8;
	background-image: url(../img/kt_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
div {
    opacity: 1;
    transition: 4s opacity;
}
div.fade-out {
    opacity: 0;
    transition: none;
}
#container, #container2 {
	padding: 0;
	clear: left;
	height: 100%;
	padding-bottom: 100px;
	margin-bottom: 50px;
}
#container {
	background-color: #f5da91;
	-webkit-box-shadow: 2px 2px 4px 2px #92a8cc;
		box-shadow: 2px 2px 4px 2px #92a8cc;
	border-radius: 4px;
}

/* HEADER & NAV */
#logo {
	width: 135px;
	float: left;
	padding-top: 10px;
}
header {
	width: 100%;
	background-color: ;
	padding-bottom: 60px;
}
nav {
	text-shadow: 2px 2px 4px #E3E3E3;
	padding-bottom: 20px;
}
nav ul {
  list-style: none;
	float: right;
	margin-right: 2%;
	padding-top: 45px;
}
nav li {
	display: inline;
	font-family: 'Engebrechtre', sans-serif;
	padding-left: 4px;
}
nav a {
	color: #ab5323;
	text-decoration: none;
	font-size: 1rem;
}
nav a:hover {
	color: #0c3f6a;
}
#pin {
	max-width: 15px;
}
#pin a:hover {
	color: black;
}
main, #menu {
	margin: 0 5% 0 5%;
	padding: 0;
}
h2 {
	font-family: 'Alex Brush', cursive;
	font-size: 5rem;
	color: #ab5323;
	text-shadow: 2px 2px 4px #E3E3E3;
	padding-top: 40px;
	margin: 0;
}
h3 {
	font-family: 'Engebrechtre', sans-serif;
	font-size: 1.8rem;
	color: #fff;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	padding-bottom: 50px;
	color: #0c3f6a;
}
p a {
	text-decoration: none;
	color: #ab5323;
}
p a:hover {
	color: #fff;
}
#images img, #specials img, .menu-imgs img {
	-webkit-box-shadow: 2px 2px 5px 2px #DEC05A;
		box-shadow: 2px 2px 5px 2px #DEC05A;
}
#subscribe, #gift {
	padding-bottom: 8px;
}
.button {
	cursor: pointer;
	margin-bottom: 40px;
	padding: 8px;
	background-color: #b0cee8;
	border-radius: 5px;
	color: #0c3f6a;
	-webkit-box-shadow: 2px 2px 5px 2px #DEC05A;
		box-shadow: 2px 2px 5px 2px #DEC05A;
}
button:hover {
	color: #fff;
	background-color: #0c3f6a;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* FOOTER */
footer {
background-color: #aba293;
width: 100%;
height: 75px;
text-align: center;
}
footer p {
	margin: %;
	color: #fff;
	font-size: 0.8rem;
	padding-bottom: 5px;
}
footer ul {
	margin-left: -45px;
}
footer li {
	list-style-type: none;
	display: inline;
	padding: 5px;
}
footer a {
	text-decoration: none;
	color: #000;
	font-size: 0.92rem;
}
.social {
	max-width: 18px;
	padding: ;
	margin-bottom: -5px;
}
#specialpg {
	right: 0;
	left: 0;
	bottom: 0;
	margin-bottom: ;
	position: fixed;
}
.normalpg {
	position: absolute;
}

/* INTRO page */
#greeting {
	margin-left: 5%;
	color: #0c3f6a;
	font-size: 5.3rem;
	margin-top: 75px;
}
#intro {
	padding-top: 230px;
}
#enter {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1rem;
	color: #ab5323;
	text-decoration: none;
	background-color: #fff;
	padding: 8px;
	margin-left: 6%;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px 1px #9E5B28;
		box-shadow: 1px 1px 4px 1px #9E5B28;
}
#intro a:hover {
	background-color: #0c3f6a;
	color: #b0cee8;
}

/* HOME page */
#img1 {
	margin-top: 25px;
}
#img2, #img3 {
	margin-top: 5px;
}
#img1 img, #img2 img, #img3 img {
	width: 90%;
	margin-left: 5%;
}
.solo {
	width: 90%;
	margin-top: 5px;
	margin-left: 5%;
}
#mac {
	margin-bottom: 35px;
}
#specials img {
	width: 100%;
}

/* ABOUT page */
#info li, #awards li {
	font-family: 'Quicksand', sans-serif;
	color: #0c3f6a;
	line-height: 125%;
	margin-left: -12%;
}
#info li {
	list-style-type: none;
}
.about-pics {
	width: 100%;
}
iframe {
	width: 100%;
	height: 450px;
	-webkit-box-shadow: 2px 2px 5px 2px #DEC05A;
		box-shadow: 2px 2px 5px 2px #DEC05A;
}

/* MENU page */
#menu h3 {
	color: #ab5323;
	font-family: 'Alex Brush', cursive;
	font-size: 3rem;
	margin: 10px 0 0 0;
	text-align: center;
}
#menu li {
	font-size: 1rem;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	list-style-type: none;
}
#menu p {
	padding: 0 0 15px 0;
}
.items, #menu p {
	margin-left: 15px;
}
#menu .tabs li {
	font-family: 'Engebrechtre', sans-serif;
}
.menu-imgs {
	width: 100%;
}


/* MEDIA QUERIES */
@media (min-width: 400px;) {
	nav a {
		font-size: 1rem;
		padding: 5px;
	}
	nav ul {
		margin-right: 5%;
		padding-top: 45px;
	}
	.items, #menu p {
		margin-left: 25px;
	}
	#info li, #awards li {
		margin-left: -10%;
	}
	#greeting {
		font-size: 5.5rem;
	}
}
@media (min-width: 450px) {
	#img1 img, #img2 img {
		width: 46%;
		margin-left: 5px;
	}
	.solo {
		width: 90%;
	}
	#img1, #img2 {
		margin-left: 0%;
		margin-right: -20px;
	}
}
@media (min-width: 500px) {
	#info li, #awards li {
		margin-left: -8%;
	}
}
@media (min-width: 550px) {
	nav a {
		font-size: 1.2rem;
	}
	header {
		padding-bottom: 110px;
	}
	#logo {
		width: 210px;
		padding-top: 5px;
		margin-bottom: 1%;
	}
	.items, #menu p {
		margin-left: 50px;
	}
	#greeting {
		font-size: 6rem;
	}
}
@media (min-width: 680px) {
	main, #menu {
		margin: 0 15% 0 15%;
	}
	#logo {
		margin-left: 10%;
	}
	nav {
		margin-right: 12%;
	}
	nav li {
		padding-left: 15px;
	}
	p, #menu li, #awards li, #hours li, #contact li {
		font-size: 1.2rem;
	}
	#intro li {
		font-size: 1.2rem;
	}
	.items, #menu p {
		margin-left: 50%l;
	}
}
@media (min-width: 790px) {
	#menu h3 {
		margin-top: 18px;
		font-size: 3.5rem;
	}
	#items {
		margin-left: 30%;
	}
	#img1, #img2 {
		margin-right: -70px;
	}
	.solo {
		margin-left: -50px;
	}
}
@media (min-width: 920px) {
	#container, #container2 {
		width: 80%;
		margin-left: 10%;
	}
	#logo {
		margin-left: 8%;
		padding-bottom: 10px;
	}
	nav {
		margin-right: 8%;
	}
	h2 {
		padding-top: 55px;
		font-size: 5.2rem;
	}
	.items {
		margin-left: 15%;
	}
	#menu p {
		margin-left: 8%;
	}
	#menu h3 {
		margin-top: 20px;
		font-size: 3.7rem;
	}
	#intro {
		padding-top: 245px;
	}
	#greeting {
		padding-top: 0px;
		font-size: 7.2rem;
		margin-left: 10%;
		margin-top: 100px;
	}
	#enter {
		margin-left: 11%;
	}
	#info li, #awards li {
		padding: 5px;
		margin-left: 0;
	}
	#info ul, #awards ul {
		margin-left: -45px;
	}
}
@media (min-width: 1000px) {

}
@media (min-width: 1024px) {
	main, #menu {
		padding: 2% 0 2% 0;
	}
	#logo {
		width: 250px;
		margin-left: 12%;
	}
	nav {
		margin-right: 13%;
	}
	nav a {
		font-size: 1.3rem;
	}
	#container, #container2 {
		width: 70%;
		margin-left: 15%;
	}
	h2 {
		padding-top: 25px;
	}
	.items {
		margin-left: 12%;
		width: 70%;
	}
	#intro {
		padding-top: 290px;
	}
	#greeting {
		padding-top: 20px;
		font-size: 8.6rem;
	}
}
