@font-face {
	font-family: 'Engebrechtre';
  src: url('../fonts/engebrechtre-expanded-bold.ttf')
	format('truetype');
}
/* Colors
blue: #0c3f6a
brown: #ab5323
gray: #aba293
yellow: #f5da91
light blue: #b0cee8
*/
.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}
.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}
.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}
.r-tabs .r-tabs-accordion-title {
    display: none;
}
.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Tabs container */
.r-tabs {
	position: relative;
	background-color: #0c3f6a;
	border-top: 10px solid #0c3f6a;
	border-right: 12px solid #0c3f6a;
	border-left: 12px solid #0c3f6a;
	border-bottom: 10px solid #0c3f6a;
	border-radius: 4px;
	width: 100%;
	margin-left: -14px;
	margin-top: 70px;
	-webkit-box-shadow: 1px 2px 3px 3px #849FBD;
		box-shadow: 1px 2px 3px 3px #849FBD;
}
/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #0c3f6a;
}
/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: bold;
	color: #f5da91;
}
/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}
/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #0c3f6a;
	text-shadow: none;
	background-color: white;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;
	border-bottom: 4px solid white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* ACCORDIAN */
/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #0c3f6a;
	color: #f5da91;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 1rem;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	font-family: 'Engebrechtre', sans-serif;
}
/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #0c3f6a;
	text-shadow: none;
}
/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}
/* Buttons */
button {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	line-height: 100%;
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #0c3f6a;
	box-shadow: 0px 3px 0px 0px #00ab94;
	cursor: pointer;
}
/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;
	color: #0c3f6a;
	border: 2px solid #00ab94;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
}

/* Accordion responsive breakpoint */
@media (min-width: 500px) {
	.r-tabs {
		width: 100%;;
	}
}
@media (max-width: 768px) {
  .r-tabs .r-tabs-nav {
        display: none;
    }
  .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}
@media (min-width: 920px) {
	.r-tabs {
		width: 143%;;
		margin-left: -21.5%;
	}
}
@media (min-width: 1020px) {
	.r-tabs {
		margin-top: 0px;
	}
}
